/*头部*/
#header {width: 100%;min-width: 1024px;margin:0;padding:0;height: 60px;line-height: 58px;background-color:#372C3A;}
.nav{width: 1024px;margin: 0 auto;}
.top{ padding:0;}
.nav_left .nav-left-logo{padding: 0;}
.nav_left .nav-width{width: 250px;}
.nav_left .nav-left-logo img{display: block;margin-top: 5px;width: 150px;height: 50px;}
.nav_left li{ float:left;height: 60px;padding:0 0.1em 0 1em}
.nav_left li a{ margin:0 10px; color:#ccc; font-size:16px;}
.nav_left li a:hover{color:#ff0000;}
.nav_right{float: right;height: 60px;line-height: 60px;}
.nav_right{ color:#ccc;}
.nav_right_link li{float: left;padding: 0 5px;}
.nav_right_link li a{color:#ccc;font-size:14px;}
.nav_right_link li a:hover{ color:#ff0000;}
.nva_right_slide ul{ display:none; width:200px; border: 1px solid #EEE;box-shadow: 0px 0px 2px #DDD;
background: none repeat scroll 0% 0% #FFF; z-index:999; position:absolute; right:-100px; top:60px;}
.nva_right_slide ul li{ width:90px; height:20px; line-height:20px;padding:5px 0;}
.nva_right_slide li{position: relative;height:60px; line-height:60px; color:#ccc;}
.nva_right_slide li img{ float:left;width:24px; height:24px; margin-right:10px;}
.nva_right_slide ul{padding: 10px; background:rgba(0,0,0,0.6)!important; width:110px!important; right:-15px!important;}
.nva_right_slide li a{display:inline-block;vertical-align:middle;color:#ccc;font-size:16px;margin-top: -3px;}
.nva_right_slide li a:hover{ color:#ff0000;}
.fix{*zoom: 1;}
.fix:after{display: block;content: 'clear';height: 0;clear: both;overflow: hidden;visibility: hidden;}