#mid_search{width:100%;min-width:1024px;padding-bottom:70px;background:#EEEEF0;}
.search_content{ width:1024px;padding-top: 20px;margin: 0 auto;}
#search_norm{border-radius:5px;background:#FFFFFF;height: 80px;box-shadow: 0 0 5px rgba(0,0,0,.1)}
.search_still {top: 130px;width: 100px;float: left;padding-top: 50px;}
.search_still a{ padding:3px 10px; color:#FF0000;border-radius:5px; display:inline-block;}
.search_still2{ text-align:center;padding-top: 20px;display: none;}
.search_still2 a{color:#FF0000;}
.serchImg{float:right;padding-right:50px;padding-top: 10px;}
.search_list {padding: 5px 0px;line-height: 30px;width: 530px;height: 30px;}
.search_list h3{text-align:left;}
.search_list h3{text-align:left; font-size:14px;}
#onlinepic{margin-top:10px;position: absolute;top: 110px;}
.fgline{width: 740px;height:1px; background:#eeeef0;}
.search_term{ font-size:14px; width:650px;padding-left: 20px;}
.search_term .search_txt{ width:80px; padding:0 5px; height:20px; line-height:20px; color:#999; margin-right:5px;}
.search_term  span{ display:block; float:left; margin-right:10px; height:30px; line-height:30px;}
.search_term  .search_checkbox{ margin-right:5px;}
.search_term a.active{background:url(../images/arrow1.png) no-repeat right center;}
a.btn_blue_ {background: none repeat scroll 0% 0% #C50512;border-radius: 15px;padding: 0px 8px;border-radius: 5px;margin-right: 15px;color: #FFFFF0;}
.choices{ margin-left: 8px;}
.choices a {margin-right: 15px;}
.search_hd{width:120px;margin-top:10px;float:left;margin-left: 10px;}
.search_hd h2{ font-size:16px;}
.search_bd_no{border:none;background:#FFFFFF;margin-bottom: -10px;clear: both;}
.search_tips{overflow:hidden;}
.search_reorder{float:right;}
.search_reorder a{ display:inline-block; padding:0 8px; margin-left:10px; height:24px; line-height:24px;}
.search_reorder a:hover{ color:#c50512; border:1px solid #c50512;}
.search_reorder a i{ padding-left:5px;}
.search_reorder a.order_jx,.search_reorder a.order_sx{ background:#c50512; color:#fff; border:1px solid #c50512;}
.search_reorder a.order_jx i{ background:url(../images/jiantou.png) no-repeat right center; padding-right:10px;}
.search_reorder a.order_sx i{background:url(../images/jiantou1.png) no-repeat right center;padding-right:10px;}
.sit-search{background-color: #EEEEF0;position: relative;width: 100%;height: 100%;}
.sit-search .search_title{padding: 10px 0;}
.sit-search .search_title h2{float: left;font-size: 1.5em;font-weight: 700;color: #333;}
.sit-search .search_title span{float:right;}
.sit-search .search_title a{font-weight: 700;color: #ff0000;}
.sit-search .search_container{
    width: 1024px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    zoom: 1;
    overflow: hidden;
}
.sit-search .search_content{
    width: 235px;
    padding: 1.5px;
    margin: 8px;
    background-color: #fff;
    border:1px solid #fff;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    float: left;
    box-shadow: 0 0 5px rgba(0,0,0,.1);
}
.pages{clear: both;}
.item{ position: relative; }
.item_title{font-weight: 700;font-size: 18px;}
.item .img--fixed{position: absolute;top: -19px;right: -17px;}
.item_img img{width: 110px;height: 30px;}
.item_bar div{width: 100%;border:1px solid #868686;border-radius: 10px;}
.item_bar div em{width:20%;border-radius: 10px;display:block;height:20px;background:url(/static/images/jinduqiao.png) no-repeat;}
.item_wrap_filed{overflow: hidden;position: relative}
.item_wrap_filed li{float: left;}
.item_wrap_filed li:last-child{float: right;}
.fix{*zoom: 1;}
.fix:before{content:'clear';display: block;clear: both;height:0;*font-size: 100%;overflow: hidden;visibility: hidden;}
.fix:after{content:'clear';display: block;clear: both;height:0;*font-size: 100%;overflow: hidden;visibility: hidden;}
.item li{padding: 10px 5px;}
.item-filed-width{width: 200px;margin-left:auto;margin-right: auto;text-align: center;}
.item-filed-width li div{padding:10px 0;}
.li-right-line{position:absolute;border-right: 1px solid #ccc;height: 30%;left:90px;top:30px;}
.sit-search .item .item_wrap_filed.one .text{color: #868686}
.sit-search .item .item_wrap_filed.one .count{color: #ff0000;font-weight: bold;font-size: 1.15em;}
.sit-search .item .item_wrap_filed.two .text{font-size: 1.4em;font-weight: bold;color: #000;}
.sit-search .item .item_wrap_filed.two .count{font-size: 1.4em;font-weight: bold;color: #ff0000;}
.sit-search .search_content .item .search-check .search-check_link{width: 100%;height:30px;line-height:30px;background-color: #c50512;color: #fff;font-size: 1.2em;display: block;text-align: center;cursor: pointer;}
.sit-search .search_content .item .search-check .search-check_link:hover{opacity: 0.6;}
