

.footer_boxImg {width: 120px;height: 120px;margin-top: 20px;margin-left: -30px;position: absolute;}
.footer_main {width: 980px;}
#header {height: 60px;line-height: 60px;width: 113%;}
#footer {clear: both;width: 113%;}
.footer_bottom {background: #EEEEF0 none repeat scroll 0% 0%;height: 30px;margin-bottom: 0px;position: absolute;width: 113%;}}

#content {position: relative;height: 106%;background: transparent url("../images/activepic1.jpg") repeat-x scroll 0% 0% / cover;min-height: 500px;width: 113%;}
.hot{width: 700px;margin: 0px auto;}}

