.user_pwd{padding:20px;}
.user_pwd_title{width:750px;}
.user_pwd_title a{text-decoration:none; color:#000000; font-size:16px; font-weight:bold;}
.user_pwd_title a:link,a:visited{ border-bottom-style:solid; border-color:transparent; border-width:3px;}
.user_pwd_title a:hover{border-color:#e1604d;font-weight:bold; cursor:pointer}
.user_pwd_title .title_list .list_self span{font-size:30px;}
.user_pwd_title .title_list li{padding: 10px;}
.user_pwd_title .title_list .list_cline div{width:1px;height:25px;background-color:#D5D5D5;overflow:hidden;}
.user_pwd_title .title_list .list_bline div{width:835px; height:1px; background-color:#D5D5D5;overflow:hidden;}
.fix{*zoom: 1;}
.fix:before{display: block;content: 'clear';height: 0;clear: both;overflow: hidden;visibility: hidden;}
.fix:after{display: block;content: 'clear';height: 0;clear: both;overflow: hidden;visibility: hidden;}
.user_pwd_content{padding: 15px 0}
.content_list--mobile{position: relative;}
.content_list--mobile li{padding: 5px;}
.content_list--mobile .list_mobile .mobile_txt{font-size:14px;font-weight:bold;margin-left:14px;}
.content_list--mobile .list_mobile input[type="text"]{width:200px; height:30px;margin-left:16px;}
.content_list--mobile .list_code .code_txt{line-height:30px;font-size:14px;font-weight:bold;margin-left:27px;}
.content_list--mobile .list_code input[type="text"]{width:200px; height:30px;margin-left:16px;}
.content_list--mobile .list_code .Validform_checktip{position: absolute;left: 50%;}
.content_list--mobile .list_code img{ width: 75px; height: 33px;margin-left:5px;vertical-align: middle;}
.content_list--mobile .list_smsCode .smsCode_txt{font-size:14px;font-weight:bold;}
.content_list--mobile .list_smsCode .Validform_checktip{position: absolute;left: 50%;}
.content_list--mobile .list_smsCode input[type="text"]{width:200px; height:30px;margin-left:16px;}
.content_list--mobile .list_smsCode input[type="button"]{color:#FFFFFF;background-color:#4a3c70;border:1px solid #4a3c70; border-radius:3px;-webkit-border-radius:3px;z-index:1;padding:8px;margin-left:2px;}
.content_list--mobile .list_button{margin-left:95px;}
.content_list--mobile .list_button input[type="button"]{padding:8px 20px;border:1px solid #4a3c70;background:#4a3c70;color:#FFFFFF;border-radius:3px;-moz-border-radius:3px;-webkit-border-radius:3px;}
.content_list--pwd li{padding-bottom:10px}
.content_list--pwd input[type="password"]{width:200px; height:30px;margin-left:15px;}
.content_list--pwd .list_newPwd .newPwd_txt{font-size:14px;font-weight:bold;margin-left:15px;}
.content_list--pwd .list_rePwd .rePwd_txt{font-size:14px;font-weight:bold;}
.content_list--pwd .list_button{margin-left: 80px;}
.content_list--pwd .list_button input[type="button"]{padding:8px 20px;color:#FFFFFF;background-color:#4a3c70;border:1px solid #4a3c70; border-radius:3px;-webkit-border-radius:3px;z-index:1;}
@media only screen and (min-device-width:240px) and (max-device-width:767px){
    #content {
        position: relative;
        width: 100%;
    }
    #login_content {
        width: 600px;
        height: 620px;
        background: #EEEEF0;
        margin-top: -10px;
        min-width: 1420px;
    }
    .login_mid {
        padding: 20px 0px;
        height: 500px;
        width: 600px;
        z-index: 999;
        margin: 10px auto;
    }
}
