{% load staticfiles %}
{% load settingsvalue %}
{% load url from future %}
{% load i18n %}
<!DOCTYPE html>
<head>
<meta name="baidu-tc-verification" content="fcb12b2cc7f02674c9f8ad1facbdc736" />
<!--百度统计-->
<script>
        var _hmt = _hmt || [];
        (function() {
          var hm = document.createElement("script");
          hm.src = "//hm.baidu.com/hm.js?afdeb5d28fdd744142dbe81b4203efac";
          var s = document.getElementsByTagName("script")[0];
          s.parentNode.insertBefore(hm, s);
        })();
    </script>
<meta name="baidu-tc-verification" content="fcb12b2cc7f02674c9f8ad1facbdc736" />
<script>
function show()
{
 code.style.display="block";
}
function hide()
{
  code.style.display="none";
}
</script>
</head>
<body>
<div class="footer_content">
	<div class="footer_main mauto clearfix">
		<div class="footer_box f1">
			<h3>合作伙伴</h3>
			<div style="border-top:1px solid #e1604d;height:1px;width:180px;margin:10px 0 10px 13px"></div>
			<dl>
				<dd>
					<a href="https://www.angelclub.com/" target="_blank">天使客</a>
					<a href="http://www.tianshijie.com.cn/" target="_blank" style="font-family:'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;天使街</a>
				</dd>
				<dd>
					<a href="http://jr.jd.com/" target="_blank">京东众筹</a>
					<a href="http://www.dajiatou.com/" target="_blank">大家投</a>
				</dd>
				<dd>
					<a href="http://www.zczj.com/" target="_blank">众筹之家</a>
				</dd>
			</dl>
		</div>
		<div class="footer_box f1">
			<h3>友情链接</h3>
			<div style="border-top:1px solid #e1604d;height:1px;width:180px;margin:10px 0 10px 13px"></div>
			<dl>
				<dd>
					<a href="http://www.zhitouwang.cn/" target="_blank">股权众筹</a>
					<a href="http://www.zcworks.cn/" target="_blank">众筹工坊</a>
				</dd>
				<dd>
					<a href="http://if.pedaily.cn/" target="_blank">新金融</a>
					<a href="http://www.qingfuzaixian.com/" target="_blank" style="font-family:'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;青蚨在线</a>
				</dd>
				<dd>
					<a href="http://insurance.stockstar.com/" target="_blank">证券之星</a>
					<a href="http://www.zcifc.com/" target="_blank" style="font-family:'Times New Roman'">&nbsp;中申网</a>
				</dd>
			</dl>
		</div>
		<div class="footer_box f1">
			<h3>联系我们</h3>
			<div style="border-top:1px solid #e1604d;height:1px;width:330px;margin:10px 0 10px 13px"></div>
			<dl style="margin-left:10px;">
				<dd>
					咨询热线:400-709-1818
				</dd>
				<dd>
					公司邮箱:service@ddbid.com
				</dd>
				<dd>
					公司地址:上海市闵行区沪闵路7866号莲花广场2号楼908室
				</dd>
			</dl>
		</div>
		<div class="footer_box f1">
			<dl>
				<dd style="margin-left:100px;margin-top:10px">
					<img src="/static/images/ddbid_8cm.jpg" width="100px;" height="100px;" />
				</dd>
				<dd style="margin-top:90px;margin-left:130px;">
					<label style="color:#FFFFFF;">订阅号</label>
				</dd>
			</dl>
		</div>
	</div>
</div>
	  <div class="footer_bottom">
	  <span class="cdjf">&nbsp;&nbsp;上海辞达金融信息服务有限公司&nbsp;&nbsp;&nbsp;&nbsp;沪ICP备14053786</span>
	   <div style="padding-top:5px; position:absolute;left:52%;">
	 
        <a href="#" class="ico1 fr" onMouseOver="show()" onMouseOut="hide()"></a>
        <a href="http://www.weibo.com" class="ico fr" target="_blank"></a>
		 
        <a href="{% url 'about_us' %}" class="fl">关于我们</a>
        <a href="{% url 'contact_us' %}" class="fl">加入我们</a>
		<a href="{% url 'agreement' %}" class="fl">服务条款</a>
        <a href="{% url 'activearea' %}" class="fl">活动专区</a>
		<a href="{% url 'contact_us' %}" class="fl">意见反馈</a>
        <p id="code" style="display:none;">
            <img src="/static/images/qrcode_2.jpg"/>
        </p>
		</div>
    </div>

</body>
