<!DOCTYPE html>
{% load staticfiles %}
{% load url from future %}
{% load staticfiles %}
{% load pagination_tags %}
{% load settingsvalue %}
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>搜索结果</title>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
	<meta name="description" content="Write an awesome description for your new site here. You can edit this line in _config.yml. It will appear in your document head meta (for Google search results) and in your feed.xml site description.
">
	<link rel="stylesheet" href="https://res.wx.qq.com/open/libs/weui/0.4.0/weui.css">
	<link rel="stylesheet" href="/static/css/jquery-weui.css">
	<style>
		body{
			background-color: #d9d9d9;
		}
		.swiper-container {
			width: 100%;
		}

		.swiper-container img {
			display: block;
			width: 100%;
		}
		.weui-row {
			margin-top: 10px;
		}
		[class*="weui-col-"] {
			height: 30px;
			line-height: 30px;
			text-align: center;
		}
		.cover{
			width: 120px;
			height: 30px;
		}
		.title{
			font-weight: 400;
			font-size: 18px;
		}
		.value{
			font-weight: bold;
			color: #ff0000;
		}
		.weui-row{
			position: relative;
		}
		.cut{
			border-right: 1px solid #D9D9D9;
			width: 1px;
			height: 3.2em;
			position: absolute;
			left: 48%;
			top: 30%;
		}
		.weui-nav,.weui-content{
			background-color: #fff;
			padding: 5px 0;
			margin-top: 10px;
		}
		.weui_search_bar:after{
			border-bottom: none;
		}
		.weui-col-25 img:active{
			opacity:0.5;
			filter:Alpha(opacity=50);
		}
	</style>
</head>
<body>
<header>
	<div id="head_m"></div>
</header>
<div class="swiper-container">
	<!-- Additional required wrapper -->
	<div class="swiper-wrapper">
		<!-- Slides -->
		<div class="swiper-slide"><img src="/static/images/homepage-banner1.JPG" /></div>
		<div class="swiper-slide"><img src="/static/images/homepage-banner2.JPG" /></div>
		<div class="swiper-slide"><img src="/static/images/homepage-banner3.JPG" /></div>
	</div>
	<!-- If we need pagination -->
	<div class="swiper-pagination"></div>
</div>
<div class="weui-nav">
	<div class="weui-row">
		<div class="weui-col-33">
			<a href="javascript:void(0)" onclick="show_right()"><img src="/static/images/high-earnings.png"/></a>
		</div>
		<div class="weui-col-33">
			<a href="javascript:void(0)" onclick="show_left()"><img src="/static/images/low-deadline.png"/></a>
		</div>
		<div class="weui-col-33">
			<a href="/m/detail_search" sorttype="2"><img src="/static/images/custorm.png"/></a>
		</div>
	</div>
</div>
<div class="weui-row weui-no-gutter">
	<div class="weui-col-33" style="text-align: left">
		<h3>最新标的</h3>
	</div>
	<div class="weui-col-33"></div>
	<div class="weui-col-33" style="text-align: right">
		<a href="javascript:void(0)" onclick="more()"><span class="value" style="font-size: 14px">更多</span></a>
	</div>
</div>
<div id="container">
	<div id="right" style="display:none">
    {% if results_right %}
        {% for result in results_right %}
		<div id='content_right' class="weui-content" >
			<div class="weui-row weui-no-gutter">
				<div class="weui-col-50">
					<img src="{{ result.platform.logo }}" alt="" class="cover">
				</div>
				<div class="weui-col-50">
					<h3 class="title">{{result.name|title_cut}}</h3>
				</div>
			</div>
			<div class="weui-row weui-no-gutter">
				<div class="weui-col-45">
					总金额:<span class="value">￥{{ result.amount|data_display}}</span>
				</div>
				<div class="weui-col-5 cut"></div>
				<div class="weui-col-45">
					完成:<span class="value">{{ result.process|floatformat:"0" }}%</span>
				</div>
			</div>
			<div class="weui-row weui-no-gutter">
				<div class="weui-col-45">
					收益率:<span class="value">{{ result.income_rate|floatformat:"-2" }}%</span>
				</div>
				<div class="weui-col-5"></div>
				<div class="weui-col-45">
					期限:<span class="value">{{ result.term_name|floatformat:"-2" }}{{ result.term_unit }}</span>
				</div>
			</div>
		</div>
        {% endfor %}
    {% endif %}
	</div>
	<div id="left" >
    {% if results_left %}
        {% for result in results_left %}
		<div id='content_left' class="weui-content" >
			<div class="weui-row weui-no-gutter">
				<div class="weui-col-50">
					<img src="{{ result.platform.logo }}" alt="" class="cover">
				</div>
				<div class="weui-col-50">
					<h3 class="title">{{result.name|title_cut}}</h3>
				</div>
			</div>
			<div class="weui-row weui-no-gutter">
				<div class="weui-col-45">
					总金额:<span class="value">￥{{ result.amount|data_display }}</span>
				</div>
				<div class="weui-col-5 cut"></div>
				<div class="weui-col-45">
					完成:<span class="value">{{ result.process|floatformat:"0" }}%</span>
				</div>
			</div>
			<div class="weui-row weui-no-gutter">
				<div class="weui-col-45">
					收益率:<span class="value">{{ result.income_rate|floatformat:"-2" }}%</span>
				</div>
				<div class="weui-col-5"></div>
				<div class="weui-col-45">
					期限:<span class="value">{{ result.term_name|floatformat:"-2" }}{{ result.term_unit }}</span>
				</div>
			</div>
		</div>
        {% endfor %}
    {% endif %}
	</div>
</div>
<form id="formid" action="/m/detail_search/" method="post">
    <input id="params" name="params" value="" type="text"  style="display:none;"/>
    <input id="amount" name="amount" value="" type="text"  style="display:none;"/>
    <input id="page"  name="page" value="" type="text"  style="display:none;"/>
    <input id="sorttype" name="sorttype" value="" type="text"  style="display:none;"/>
    <input id="sortorder" name="sortorder" value="" type="text"  style="display:none;"/>
</form>
</body>
<script src="/static/js/jquery.min.js"></script>
<script src="/static/js/jquery-weui.js"></script>

<script src="/static/js/swiper.js"></script>
<script type="text/javascript">
	$(function(){
		$.get("/m/search/",function(data){ $('#head_m').html(data.content_html);});
	});
</script>
<script>
	$(".swiper-container").swiper({
		loop: true,
		autoplay: 3000
	});
</script>
<script type="text/javascript">
    function show_right(){
        $("#left").show();
        $("#right").hide();
    }
    function show_left(){
		 $("#right").show();
		 $("#left").hide();
    }
     function more(){
           checkparam(1);
        }

        function getElementsByClassName(n,m) {
            var el = [],
                _el = document.getElementsByTagName('option');
            for (var i = 0; i < _el.length; i++) {
                if(_el[i].id==n){
                    el[el.length] = _el[i].getAttribute(m);
                }
            }
            return el;
        }

        function checkparam(page) {

            var sortorder = 0;
            var sorttype = 0;

            var aaa = getElementsByClassName('order_sx','sorttype');
            var bbb = getElementsByClassName('order_jx','sorttype');
            if(aaa != ''){
                sortorder = 1;
                sorttype = aaa[0];
            }
            else if(bbb != ''){
                sortorder = 2;
                sorttype = bbb[0];
            }

           document.getElementById("params").value= [1,7,13,16,22,28,36];
           document.getElementById("amount").value= 0;
           document.getElementById("page").value= page;
           document.getElementById("sorttype").value= sorttype;
           document.getElementById("sortorder").value= sortorder;

           $("#formid").submit();

        }
</script>

</html>