{% load staticfiles %}
{% load settingsvalue %}
{% load url from future %}
{% load i18n %}
<!DOCTYPE html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>天天搜贷</title>
    <link href="/static/css/base.css" rel="stylesheet" type="text/css"/>
    <link href="/static/css/user.css" rel="stylesheet" type="text/css"/>
    <link href="/static/css/jquery-ui.css" rel="stylesheet" type="text/css"/>
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/jquery-ui.min.js' %}"></script>
    <script src="/static/site_media/jquery.uploadify.js"></script>
    <!--[if gte IE 8]>
<script src="js/placeholder.min.js"></script>
<![endif]-->
    <style>
        .a-upload {margin-top:0px;margin-left:0px;}
    </style>
    <script>
    $(function(){
          $('#upload_photo').uploadify({
             'successTimeout' : 5,
             'queueID'  : 'some_file_queue', //进度条
            'buttonClass': 'a-upload',
            'buttonText' : '上传图片',
            'fileSizeLimit' : '10000KB',
            'fileTypeDesc' : 'Image Files',
            'fileTypeExts' : '*.gif; *.jpg; *.png',
            'swf'      : '/static/site_media/uploadify.swf',
            'uploader'  : '/upload_photo/',
            'onUploadSuccess' : function(file, data, response) {
                    if(data){location.reload();};
                }
          });
    });
        function show() {
            code.style.display = "block";
        }
        function hide() {
            code.style.display = "none";
        }
        $(document).ready(function () {
            $("#id_birthday").datepicker({changeYear: true,
                changeMonth: true,
                dateFormat: 'yy-mm-dd',
                yearRange:"1900:2015"});
        });
    </script>
</head>

<body>
<div id="container">

<div id="middd">
{% include "header.html" %}
    <div class="user_con">
        {% include "little_search.html" %}
        <div class="user_conter mt10">
            {% include "user_config_nav.html" %}
			
            <div class="user_right fr" style="margin-bottom:30px;">
                <div class="user_message user_box">
                    <div class="user_title">个人信息</div>
                    <dl class="user_detail">
                        <form action="" method="post" >
                            {% csrf_token %}
                            <dt>
                            <p style="margin-bottom:14px;">
							 <img src="{{ user.userinformation.photo_url }}"/>
               
                            </p>

                                         <input type="file" name="upload_photo" id="upload_photo" >

							 <div id="some_file_queue" style="z-index:10000;position: fixed;"></div>
                         
                            </dt>
                            <dd>
                                {{ form.as_p }}
                                <input type="submit" class="user_btn" value="保存">
                            </dd>

                        </form>
                    </dl>
                </div>
            </div>
			
        </div>
		
    </div>
	{% include "footer.html" %}
</div>
{% if error %}
    <script>
        alert('{{ error }}');
    </script>
{% endif %}
{% if msg %}
    <script>
     $(document).ready(function () {
        alert('{{ msg }}');
        });
    </script>
{% endif %}
</div>
</body>
